<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pas_reset_confirm</title>
</head>
<body>
{% extends "base_generic.html" %}
{% block content %}
  {% if validlink %}
    <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
    <form action="" method="">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.new_passwordl.errors }}
              <label for="id_new_passwordl"> Новый пароль: </label></td>
          <td> {{ form.new_passwordl }} </td>
        </tr>
        <tr>
          <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">Подтвердите пароль:</label></td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Сменить пароль" /></td>
        </tr>
      </table>
    </form>
  {% else %}
    <h1> Ошибка при смене пароля!!! </h1>
    <p>Ссылка на сброс пароля была недействительной, возможно, потому, что
        она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
  {% endif %}
{% endblock %}
</body>
</html>